# imdb dict analysis: counting genre
## counts one instance (movie, clip) with several genres as several individual instance for a genre.

In [1]:
from datacube_class import *
import json
import pandas as pd
import numpy as np

In [2]:
#set path of files 
imdb_json_path = "imdb_crawled_whole.json"
qa_json_path = "qa.json" 
ds_split_json_path = "id_ds_splits.json"
clip_exist_txt_path = "clip_exist_list.txt"

with open(imdb_json_path, "r") as imdb:
    imdb_dict = json.load(imdb)
# qa_json is list of qa's
with open(qa_json_path, "r") as qa_json:
    qa_json = qa_json.read()
    qa_list = json.loads(qa_json)
# ds_split_dict = {'train': train_ids, 'val': val_ids, 'test':test_ids}    
with open(ds_split_json_path, "r") as split:
    ds_split_dict = json.load(split)
# movie_keys_w_video_clips
with open(clip_exist_txt_path, "r") as clips:
    clip_exist_list = clips.readlines()
    clip_exist_list = [clip_exist_list[i].rstrip("\n") for i in range(len(clip_exist_list)) ] # remove linefeed 
    clip_exist_list = clip_exist_list[1:] #clip out the filename

In [3]:
#call the our core class
datacube_analysis = Datacube(imdb_dict, 
                             qa_list, 
                             ds_split_dict, 
                             clip_exist_list)

In [4]:
result_df_dict = datacube_analysis.run_analysis()

In [5]:
result_df_dict["n_clip"]

,Romance,Comedy,Western,Crime,Animation,Adventure,Family,Mystery,Musical,Action,History,Film-Noir,War,Drama,Sci-Fi,Horror,Biography,Fantasy,Thriller,Music
train,1261.0,1175.0,0.0,984.0,0.0,1334.0,226.0,232.0,0.0,975.0,213.0,0.0,0.0,2374.0,348.0,127.0,203.0,1061.0,659.0,0.0
val,115.0,146.0,0.0,127.0,0.0,256.0,118.0,369.0,0.0,377.0,0.0,0.0,0.0,819.0,90.0,75.0,0.0,122.0,278.0,0.0
test,361.0,300.0,0.0,190.0,0.0,467.0,96.0,158.0,0.0,384.0,0.0,0.0,0.0,680.0,162.0,0.0,0.0,268.0,181.0,0.0

In [6]:
result_df_dict["l_clip"]

,Romance,Comedy,Western,Crime,Animation,Adventure,Family,Mystery,Musical,Action,History,Film-Noir,War,Drama,Sci-Fi,Horror,Biography,Fantasy,Thriller,Music
train,98148.949,93144.112,0.0,77457.594,0.0,138429.112,23151.260,24666.168,0.0,92797.236,20200.726,0.0,0.0,212307.622,31715.562,9714.815,20540.547,108759.565,51188.159,0.0
val,9668.698,12998.565,0.0,10889.750,0.0,27166.486,7507.660,26446.914,0.0,25846.770,0.000,0.0,0.0,64961.561,8468.759,2526.448,0.000,13394.586,22513.881,0.0
test,31557.022,28285.248,0.0,13852.291,0.0,46013.716,8739.604,11430.741,0.0,34492.457,0.000,0.0,0.0,57196.852,16768.874,0.000,0.000,23780.322,15130.579,0.0

In [7]:
result_df_dict["n_cl_movie"]

,Romance,Comedy,Western,Crime,Animation,Adventure,Family,Mystery,Musical,Action,History,Film-Noir,War,Drama,Sci-Fi,Horror,Biography,Fantasy,Thriller,Music
train,25.0,25.0,0.0,20.0,0.0,29.0,5.0,6.0,0.0,21.0,4.0,0.0,0.0,51.0,9.0,2.0,4.0,22.0,13.0,0.0
val,2.0,3.0,0.0,4.0,0.0,5.0,2.0,7.0,0.0,5.0,0.0,0.0,0.0,16.0,2.0,1.0,0.0,2.0,5.0,0.0
test,8.0,8.0,0.0,3.0,0.0,9.0,2.0,3.0,0.0,7.0,0.0,0.0,0.0,11.0,4.0,0.0,0.0,5.0,4.0,0.0

In [8]:
result_df_dict["n_movie"]

,Romance,Comedy,Western,Crime,Animation,Adventure,Family,Mystery,Musical,Action,History,Film-Noir,War,Drama,Sci-Fi,Horror,Biography,Fantasy,Thriller,Music
train,82.0,87.0,1.0,48.0,6.0,67.0,9.0,23.0,0.0,58.0,11.0,0.0,1.0,155.0,35.0,5.0,21.0,34.0,44.0,5.0
val,10.0,17.0,0.0,9.0,1.0,14.0,6.0,9.0,0.0,12.0,2.0,1.0,1.0,39.0,3.0,1.0,4.0,10.0,6.0,0.0
test,24.0,29.0,0.0,14.0,4.0,22.0,4.0,7.0,2.0,19.0,3.0,0.0,1.0,44.0,12.0,4.0,5.0,11.0,12.0,0.0

In [9]:
result_df_dict["n_qa"]

,Romance,Comedy,Western,Crime,Animation,Adventure,Family,Mystery,Musical,Action,History,Film-Noir,War,Drama,Sci-Fi,Horror,Biography,Fantasy,Thriller,Music
train,2709.0,2906.0,4.0,1784.0,275.0,3008.0,366.0,864.0,0.0,2518.0,432.0,0.0,23.0,5322.0,1217.0,239.0,579.0,1652.0,1502.0,100.0
val,262.0,494.0,0.0,218.0,56.0,656.0,257.0,380.0,0.0,588.0,49.0,4.0,35.0,1217.0,185.0,39.0,69.0,405.0,283.0,0.0
test,697.0,960.0,0.0,487.0,186.0,1013.0,257.0,316.0,26.0,754.0,72.0,0.0,56.0,1536.0,450.0,177.0,121.0,548.0,523.0,0.0

In [10]:
result_df_dict["n_cl_qa"]

,Romance,Comedy,Western,Crime,Animation,Adventure,Family,Mystery,Musical,Action,History,Film-Noir,War,Drama,Sci-Fi,Horror,Biography,Fantasy,Thriller,Music
train,1244.0,1251.0,0.0,1033.0,0.0,1682.0,244.0,325.0,0.0,1236.0,240.0,0.0,0.0,2507.0,414.0,127.0,186.0,1253.0,601.0,0.0
val,88.0,126.0,0.0,108.0,0.0,291.0,121.0,313.0,0.0,309.0,0.0,0.0,0.0,683.0,132.0,39.0,0.0,118.0,244.0,0.0
test,394.0,404.0,0.0,185.0,0.0,518.0,147.0,161.0,0.0,422.0,0.0,0.0,0.0,683.0,204.0,0.0,0.0,340.0,245.0,0.0

In [ ]:
import json 
import pandas as pd
import numpy as np

In [ ]:
# imdb_dict.keys() = ['data', 'genre_dictionary']
with open("imdb_crawled_whole.json", "r") as imdb:
    imdb_dict = json.load(imdb)
# qa_json is list of qa's
with open("/media/sdc_1tb/data_storage/movieqa/qa.json") as qa_json:
    qa_json = qa_json.read()
    qa_list = json.loads(qa_json)
# ds_split_dict = {'train': train_ids, 'val': val_ids, 'test':test_ids}    
with open("id_ds_splits.json", "r") as split:
    ds_split_dict = json.load(split)
# movie_keys_w_video_clips
with open("clip_exist_list.txt", "r") as clips:
    clip_exist_list = clips.readlines()
    clip_exist_list = [clip_exist_list[i].rstrip("\n") for i in range(len(clip_exist_list)) ] # remove linefeed 
    clip_exist_list = clip_exist_list[1:] #clip out the filename

In [22]:
imdb_dict['data']['tt1981115'].keys()

dict_keys(['key', 'title', 'year', 'genre_list', 'running_time', 'num_clips', 'clip_duration'])

In [4]:
imdb_data = imdb['data']
genre_list = imdb_dict['genre_dictionary']

dict_keys(['data', 'genre_dictionary'])

# MOVIES

In [7]:
# movies including clipless ones
mv_total, mv_train, mv_val, mv_test = 0,0,0,0
# instances with Clips
mv_cl_total, mv_cl_train, mv_cl_val, mv_cl_test = 0,0,0,0

# CLIPS

In [8]:
# genrewise counting
cl_total, cl_train, cl_val, cl_test = 0,0,0,0
# length of clips
l_cl_total, l_cl_train, l_cl_val, l_cl_test = 0,0,0,0

#### each counting will also be split following each genre classification

In [ ]:
#dataframes for entities of interest 
train_ids = ds_split_dict['train']
val_ids = ds_split_dict['val']
test_ids = ds_split_dict['test']

genre2idx = dict( zip( genre_list, 
                       range(len(genre_list)) 
                     ) 
                )

split2idx = {"train":0, "val":1, "test":2}

# each df has 20 cols (# of genre)
# row0 = train, row1 = val, row2 = test 
entity_list = ["n_clip", "l_clip",
               "n_cl_movie", "n_movie",
               "n_qa", "n_cl_qa",]
entity2idx = dict( zip( entity_list, range(6) ) )

datacube_shape = (len(entity2idx), len(split2idx), len(genre2idx)) # 6 3 20
datacube = np.zeros(datacube_shape)

elem_idx = [None for i in range(3)]
#walk thru the crawled json recording on datacube

In [ ]:
def count_qa(mv_key, qa_list):
    n_qa = 0
    for qa in qa_list:
        if qa['imdb_key'] == mv_key: 
            n_qa+=1
    return n_qa

def update_datacube(*):
    if mv_key in train_ids:
        elem_idx[1] = split2idx['train']
    elif mv_key in val_ids:
        elem_idx[1] = split2idx['val']
    elif mv_key in test_ids:
        elem_idx[1] = split2idx['test']
    else: 
        exit("wtf mv_key is this? its nowhere!")

    for genre in imdb_data[mv_key]['genre_list']:
        elem_idx[2] = genre2idx[genre]
        
        #only works when clip exists
        if mv_key in clip_exist_list:
            elem_idx[0] = entity2idx["n_cl_movie"]
            datacube[tuple(elem_idx)] += 1
            
            elem_idx[0] = entity2idx["n_clip"]
            datacube[tuple(elem_idx)] +=  imdb_data[mv_key]["num_clips"]
            
            elem_idx[0] = entity2idx["l_clip"]
            datacube[tuple(elem_idx)] += sum(imdb_data[my_key]["clip_duration"])

            elem_idx[0] = entity2idx["n_cl_qa"]
            datacube[tuple(elem_idx)] += count_qa(mv_key, qa_list)
        
        #include movies w/o clips
        elem_idx[0] = entity2idx["n_movie"]
        datacube[tuple(elem_idx)]+=1

        elem_idx[0] = entity2idx["n_qa"]
        datacube[tuple(elem_idx)]+= count_qa(mv_key, qa_list)

In [31]:
a= np.zeros((2,3))
b= pd.DataFrame(a)

In [34]:
b.rename(index={0:"train", 1: "val"}, columns={0: "gen1", 1: "gen2", 2: "gen3"})

       gen1  gen2  gen3
train   0.0   0.0   0.0
val     0.0   0.0   0.0

In [49]:
a =np.array([
            [1,2,3,4,5,],
            [5,4,3,2,1]
        ])
a =np.stack((a,a,a))

In [52]:
a.shape

(3, 2, 5)

In [56]:
a[1].shape

(2, 5)

In [38]:
a = list (range(5))

In [45]:
sum(a)

10

In [57]:
zip(entity2idx.values(), entity

dict_values([0, 1, 2, 3, 4, 5])